@import '../../styles/variables.scss';

.company {
    display: flex;
    width: 100%;
    font-size: 14pt;

    img {
        width: 60px;
        height: 60px;
        border-radius: 13px;
    }

    img.md {
        display: none;
    }

    img.lg {
        display: block;
    }

    .company-content {
        margin: 0 25px;
        width: 100%;

        .company-general-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .company-name {
                font-weight: 600;
                font-size: 14pt;
                color: $dark-blue;
                text-decoration: none;

                &:hover {
                    text-shadow: 1px 1px 2px rgba($yellow, 0.8);
                }

                &:active {
                    text-shadow: none;
                    color: rgba($dark-blue, .5);
                }
            }
        }

        .date {
            font-size: 12pt;
            color: rgba($dark-blue, .7);
        }

        .position {
            font-size: 14pt;
        }

        .description {
            font-size: 12pt;
            margin: 20px 0;
        }

        .skills {
            display: flex;
            font-size: 12pt;

            p:first-child {
                font-weight: 600;
                margin-right: 10px;
                padding-top: 15px;
            }
            
            .skill {
                display: flex;
                flex-wrap: wrap;

                p {
                    margin: 10px 10px 0 0;
                    font-weight: 500;
                    background-color: rgba($dark-blue, 0.1);
                    padding: 5px 20px;
                    border-radius: 10px;
                }
            }
            
        }

        .collapse-btn {
            display: flex;
            align-items: center;
            margin: 20px 0;
            cursor: pointer;

            &:hover {
                text-decoration: 1px underline $dark-blue;
            }
                
            .triangle{
                stroke: $dark-blue;
                fill: $dark-blue;
                margin-right: 7px;
            }
        }

        .company-projects {
            margin-left: 20px;

            .project {
                display: grid;
                grid-template-columns: 10px 1fr;

                .project-point {
                    display: flex;
                    align-items: center;
                    
                    span {
                        margin-left: -4px;
                        color: rgba($dark-blue, 0.2);
                    }
                }

                .project-border {
                    border-left: 1px solid rgba($dark-blue, .2);
                }

                .project-content {
                    padding-left: 20px;

                    .project-name {
                        font-weight: 600;
                    }

                    .skill {
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 870px) {
    .company {
        flex-direction: column;

        img.md {
            display: block;
            float: left;
            margin-right: 10px;
        }

        img.lg {
            display: none;
        }

        .company-content {
            margin: 10px 0;

            .company-general-info {
                margin-bottom: 10px;
                display: block;
                min-height: 60px;

                a, span {
                    display: block;
                }

                a {
                    padding-top: 10px;
                }
            }
        }
        
    }
}

@media (max-width: 512px) {
    .company {
        font-size: 12pt;

        .company-content {
            .company-general-info {
                .company-name {
                    font-size: 12pt;
                }

                .date {
                    font-size: 10pt;
                }
            }
            .position {
                font-size: 12pt;
            }
    
            .description {
                font-size: 12pt;
            }

            .skills {
                font-size: 12pt;
            }

            .collapse-btn {
                font-size: 12pt;
            }

            .company-projects {
                .project {
                    font-size: 10pt;
                    .project-content {
                        .project-name {
                            font-size: 10pt;
                        }

                        .position {
                            font-size: 10pt;
                        }

                        .date {
                            font-size: 10pt;
                        }

                        .description {
                            font-size: 10pt;
                        }
    
                        .skill {
                            font-size: 10pt;
                        }
                    }
                }
            }
        }
    }
}