@import '../../styles/variables.scss';

.education {
    margin-bottom: 40px;
}

.education-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    font-size: 14pt;
    color: $dark-blue;

    .education-content {
        padding-left: 20px;

        .uni-title {
            font-weight: 600;
        }

        .date {
            color: rgba($dark-blue, .7);
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 870px) {
    .education {
        margin-bottom: 20px;
    }

    .education-container {
        .education-content {
            p {
                margin-bottom: 10px;
            }

            .date {
                margin-bottom: 30px;
            }
        }
    }
}