@import '../../styles/variables.scss';

.certificates {
    margin-bottom: 40px;
}

.certificate {
    font-size: 14pt;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        width: 500px;
    }

    .certificate-content {
        align-self: center;

        .certificate-title {
            font-weight: 600;
        }

        .credentialId {
            font-size: 12pt;
            color: rgba($dark-blue, .7);
            margin-top: 10px;
        }

        .skills {
            display: flex;
            font-size: 12pt;
            margin-bottom: 30px;

            p:first-child {
                font-weight: 600;
                margin-right: 10px;
                padding-top: 15px;
            }
            
            .skill {
                display: flex;
                flex-wrap: wrap;

                p {
                    margin: 10px 10px 0 0;
                    font-weight: 500;
                    background-color: rgba($dark-blue, 0.1);
                    padding: 5px 20px;
                    border-radius: 10px;
                }
            }
        }

        a {
            border-radius: 25px;
            border: 1px solid $dark-blue;
            padding: 5px 20px;
            color: $dark-blue;
            text-decoration: none;
            transition: all 0.1s ease-in-out;

            .link-icon {
                margin-left: 5px;
                color: $dark-blue;
                transition: all 0.1s ease-in-out;
            }

            &:hover {
                background-color: $dark-blue;
                color: white;

                .link-icon {
                    color: white;
                }
            }

            &:active {
                background-color: $dark-blue;
                color: rgba(255, 255, 255, 0.5);

                .link-icon {
                    color: rgba(255, 255, 255, 0.5);;
                }
            }
        }
    }
}

hr {
    margin: 40px 0;
    border: 1px solid rgba($dark-blue, .08);
}

@media (max-width: 970px) {
    .certificates {
        margin-bottom: 20px;
    }

    .certificate {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        img {
            margin-bottom: 20px;
            width: 100%;
        }

        .certificate-content {
            word-wrap: break-word;
            align-self: flex-start;
            margin-left: 10px;
        }
    }

    hr {
        margin: 20px 0;
    }
}

@media (max-width: 512px) {
    .certificate {
        font-size: 12pt;

        .certificate-content {
           .credentialId {
                font-size: 10pt;
            }

            .skills {
                font-size: 10pt;
            } 

            a {
                font-size: 10pt;
            }
        }
    }
}