@import '../../styles/variables.scss';

.portfolio{
    margin-bottom: 10px;
}

.portfolio-description {
    font-size: 14pt;
    font-weight: 300;
    margin: 10px 0;
}

@media (max-width: 512px) {
    .portfolio-description {
        font-size: 12pt;
    }
}