@import '../../styles/variables.scss';

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    font-weight: 400;
    background-color: #F2F2F2;
    padding: 15px 0;
    z-index: 99;

    p {
        font-family: SonderRegular;
        font-size: 20pt;
        color: $dark-blue;
        cursor: default;
    }

    #menuBurger {
        display: none;
        z-index: 2;
    }

    #menuBar {
        width: 35px;
        height: 30px;
        margin: 28px 0 20px 0;
        cursor: pointer;
    }
      
    .bar {
        height: 5px;
        width: 100%;
        background-color: $dark-blue;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
      
    #bar1 {
        transform: translateY(-4px);
    }
      
    #bar3 {
        transform: translateY(4px);
    }
      
    .menu-bg, #menuBurger {
        top: 0;
        left: 0;
        position: absolute;
    }
      
    .menu-bg {
        z-index: -1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, $dark-blue, $dark-blue);
        border-radius: 50%;
        transition: 0.3s ease;
    }
      
    .change {
        display: block;

        .bar {
            background-color: white;
        }
    
        #bar1 {
            transform: translateY(4px) rotateZ(-45deg);
        }

        #bar2 {
            opacity: 0;
        }

        #bar3 {
            transform: translateY(-6px) rotateZ(45deg);
        }
    }
      
    .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%,-30%);
    }

    .nav-btns {
        display: none;
        text-transform: uppercase;
        transition: 0.3s ease;

        a {
            margin: 0 15px;

            &:hover {
                text-shadow: 1px 1px 2px rgba($yellow, 0.8);
            }

            &:active {
                text-shadow: none;
                color: rgba($dark-blue, .5);
            }
        }
    }

    .nav-btns.change {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        a {
            color: white;
            margin-bottom: 10px;
        }
    }
    .nav-btns.lg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px 25px;
        border-radius: 50px;
    } 
    
    a {
        text-decoration: none;
        color: $dark-blue;
    }
}

@media (max-width: 1075px) {
    header {
        
        p {
            margin-left: 55px;
        }

        .nav-btns.lg {
            display: none;
        }

        #menuBurger {
            display: block;
        }

    }
}

@media (max-width: 415px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        p {
            margin-left: 0;
        }

        .black-btn {
            align-self: flex-end;
        }

        #menuBurger {
            top: 35px;
        }

    }
}