@import '../../styles/variables.scss';

.experience {
    margin-bottom: 40px;
}

#experience {
    hr {
        margin: 40px 0;
        border: 1px solid rgba($dark-blue, .08);
    }
}

@media (max-width: 870px) {
    .experience {
        margin-bottom: 20px;
    }

    #experience {
        hr {
            margin: 20px 0;
        }
    }
    
}