@import '../../styles/variables.scss';

.carousel {
    display: grid;
    grid-template-columns: 80px 700px 80px;
    justify-content: center;
    align-items: center;

    .slider-wrapper {
        flex: 1;
        overflow: hidden;
        position: relative;

        .slides {
            display: flex;
            transition: transform 500ms ease;

            .two-slides-wrapper {
                margin-right: 20px;
            }

            .two-slides-wrapper:nth-child(even) {
                margin-top: 40px;
            }

            .slide {
                height: 240px;
                width: 220px;
                background-color: $dark-blue;
                margin: 20px 0;
                border-radius: 25px;
                color: white;
                background-size: cover;
                background-repeat: no-repeat;

                .slide-content {
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    border-radius: 25px;
                    background-color: rgba($dark-blue, 0.6);
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: rgba($dark-blue, 0.9);
                    }

                    &:hover .slide-content-description {
                        visibility: visible;
                    }

                    .slide-content-title {
                        text-transform: uppercase;
                        font-size: 14pt;
                        font-weight: 500;
                    }

                    .slide-content-description {
                        flex-grow: 1;
                        margin: 10px 0;
                        font-size: 12pt;
                        font-weight: 200;
                        visibility: hidden;
                    }

                    .slide-content-btns {
                        display: flex;
                        justify-content: space-between;
                        font-size: 12pt;
                        line-height: 13pt;
                        cursor: pointer;

                        a {
                            text-decoration: none;
                            color: white;
                            transition: all 0.1s ease-in-out;

                            &:hover {
                                text-shadow: 1px 1px 2px rgba($yellow, 0.8);
                                font-size: 13pt;
                            }
                
                            &:active {
                                text-shadow: none;
                                color: rgba($dark-blue, .5);
                            }
                        }
                    }
                }
            }
        }
    }

    .arrow {
        cursor: pointer;
        border-top: 2px solid;
        border-left: 2px solid;
        width: 20px;
        height: 20px;
        margin: 20px;
        color: rgba(0, 0, 0, 0.5);

        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }

    .arrow.lg {
        display: block;
    }

    .arrow.md {
        display: none;
    }
    
    .arrow-left {
        justify-self: flex-start;
        transform: rotate(315deg);
    }
    
    .arrow-right {
        justify-self: flex-end;
        transform: rotate(135deg);
    }
}

@media (max-width: 1075px) {
    .carousel {
        grid-template-columns: 30px 240px 30px;

        .arrow.lg {
            display: none;
        }
    
        .arrow.md {
            display: block;
        }

        .arrow {
            width: 20px;
            height: 20px;
        }

        .arrow-left {
            margin: 5px;
        }
    }
}