@import '../../styles/variables.scss';

.container.contacts {
    background-color: $dark-blue;
    color: rgba(255, 255, 255, 0.9);
    padding: 80px;
    font-size: 14pt;

    .contacts {
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 40px;
    }

    .icon {
        margin-right: 10px;
        font-size: 18pt;
    }

    div {
        margin-top: 15px;

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9);

            span {
                &:hover {
                    text-decoration: underline;
                }
            }
        } 
    }

    .email {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 512px) {
    .container.contacts {
        padding: 30px 15px;
        font-size: 12pt;

        .contacts {
            margin-bottom: 20px;
        }

        .icon {
            font-size: 16pt;
        }
    }
}